.container {
	margin-left:auto; 
	margin-right:auto;
	background-color: gray; 
	padding: 10px;
	width:80%;
}

.container p {
	font-family:"Helvetica Neue", sans-serif;
}

a {
	color:red;
}

a:hover {
	color:green;
}